body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

a {
  color: #00B7FF;
}

.page {
  display: none;
  height: 100%;
  width: 100%;
}

.page {
  text-align: center;
}

.phone {
  width: 900px;
  height: 100%;
  margin: auto;
  background-image: url('/images/iphone.png');
  background-size: auto 100%;
}

#map-canvas {
  height: 100%;
}

.hide {
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}
