doctype html
html(lang="en")
  head
    title= Singular
    meta(charset="utf-8")

    //- Stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')

    //- Scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//connect.soundcloud.com/sdk.js")
    script(src="//w.soundcloud.com/player/api.js")
    script(src="//cdn.socket.io/socket.io-1.0.6.js")
    script(src="//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyA3hYYwgFRo135DXqVBZ_7Z8KzFnvv7cY4")
    script(src="https://cdn.firebase.com/js/client/1.0.18/firebase.js")

    script(src='/javascripts/utils.js')
    script(src='/javascripts/app.js')

  body
    h1#title
    .page.soundcloud
      iframe#sc-player(width="100%", height="450", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/147310720&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")
    .page.youtube
      #yt-player
    .page.maps
      #map-canvas
