doctype html
html(lang="en")
  head
    title= Singular
    meta(charset="utf-8")

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')

    // Scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//connect.soundcloud.com/sdk.js")
    script(src="//w.soundcloud.com/player/api.js")
    script(src="//cdn.socket.io/socket.io-1.0.6.js")
    script(src="//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyA3hYYwgFRo135DXqVBZ_7Z8KzFnvv7cY4")
    script(src="https://cdn.firebase.com/js/client/1.0.18/firebase.js")

    script(src='/javascripts/utils.js')
    script(src='/javascripts/app.js')

  body
    h1#title
    .page.soundcloud
    .page.youtube
      #player
    .page.maps
